<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/vendor/foundation/css/foundation.min.css' />
    <link rel='stylesheet' href='/stylesheets/styles.css' />
  </head>
  <body>
  	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<hr/>

  	<div ng-app='myApp'>

  		<div ng-controller='AvengerCtrl'>		    
  			
  		</div>

	</div>

	<script type='text/javascript' src='/vendor/angular/angular.js'></script>
	<script type='text/javascript' src='/javascripts/app/controllers/main.js'>
	</script>
  </body>
</html>